<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security" >

<head th:include="fragments/head" th:with="pageTitle='SoftUni Blog'"></head>

<body>

<header th:include="fragments/header"></header>

<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">

            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-warning">[[${message}]]</p>
            </div>

            <form class="form-horizontal" th:action="@{/forgot_password}" method="post">
                <fieldset>
                    <legend>Forgot Password</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="email" id="user_email" placeholder="Email" name="email" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}"
                            >Cancel</a>
                            <input value="Send" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<footer th:include="fragments/footer"></footer>

<span th:include="fragments/scripts-bundle"></span>

</body>
</html>
