<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security" >

<head th:include="fragments/head" th:with="pageTitle='SoftUni Blog'"></head>

<body>

<header th:include="fragments/header"></header>

<main>
  <div class="container body-content span=8 offset=2">
    <div class="well">

      <form class="form-horizontal" th:action="@{/reset_password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <fieldset>
          <legend>Reset Your Password</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="password">Password</label>
            <div class="col-sm-4 ">
              <input class="form-control" type="password" id="password" placeholder="Confirm your new password" name="password" required="required"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="user_password_second">Confirm Password</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="confirmPassword" required oninput = "checkPasswordMatch(this);"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
              <a class="btn btn-default" th:href="@{/}"
              >Cancel</a>
              <input value="Change Password" type="submit" class="btn btn-primary"/>
            </div>
          </div>
          <script>
            function checkPasswordMatch(fieldConfirmPassword) {
              if (fieldConfirmPassword.value != $("#password").val()) {
                fieldConfirmPassword.setCustomValidity("Passwords do not match!");
              } else {
                fieldConfirmPassword.setCustomValidity("");
              }
            }
          </script>
        </fieldset>
      </form>
    </div>
  </div>
</main>

<footer th:include="fragments/footer"></footer>

<span th:include="fragments/scripts-bundle"></span>
<
</body>
</html>